body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 15px 30px;
  color: white;
}

.nav-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 500;
}

.wallet {
  background: white;
  color: #1e90ff;
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: bold;
}

.home {
  text-align: center;
  margin-top: 100px;
}

.primary-btn, .secondary-btn {
  margin: 10px;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.primary-btn {
  background: #1e90ff;
  color: white;
}

.secondary-btn {
  background: #ddd;
}

.section {
  max-width: 900px;
  margin: 30px auto;
}

.card {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 6px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}
